/*------------------Computer--------------------*/
.bg-img{
    width: 100%;
    height: 100vh;
    background-image: url(../assets/imgs/aurora-skyjpg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
section img{
    width: 400px;
    height: 350px;
    border-radius: 2%;
}
.checked{
    color: orange;
}
ul{
    margin: 0;
    padding: 0;
}
p{
    margin: 0;
}
.gap a img{
    width: 50px;
    height: 50px;
    transition: transform 0.5s ease;
}
.gap a img:hover{
    transform: scale(1.3);
}
button{
    width: 150px;
    height: 50px;
    cursor: pointer;
    transition: all 0.2s ease-in-out 0ms;
}
button:hover{
    background-color: #1b1b1b;
    box-shadow: 0px 0px 20px -18px;
}
button:active{
    transform: scale(0.95);
}
.bg-btn-color{
    background-color: #141414;
}
.btn-color{
    color: #fff;
}
.bg-btn-color a{
    position: none;
}
.pic-value{
    height: 400px;
    width: 400px;
    border-radius: 3%;
    cursor: pointer;
}
.m-5 button {
    margin: 0 10px;
    padding: 5px 10px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}
.m-5 button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}
/*------------------Mobile--------------------*/
@media (max-width: 768px) {
    section img {
        width: 315px;
        height: 40vh;
    }
    .bg-img {
        width: 100%;
        height: 40vh;
        background-position-x: center;
        background-image: url(../assets/imgs/aurora-skyjpg.jpg);
        background-size: cover;
        margin-top: 40px;
    }
    .m-as{
        margin-bottom: 20px;
    }
}