/*------------------Computer--------------------*/
.navbar{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: #363636;
}
a{
    color: #fff;
    text-decoration: none;
}
.p-1 .tx-c .gap a{
    position: relative;
}
.p-1 .tx-c .gap a::before{
    content: "";
    transition: width 0.3s ease;
    background-color: #fff;
    height: 2px;
    width: 0;
    position: absolute;
    bottom: 0;
}
.p-1 .tx-c .gap a:hover::before{
    width: 100%;
}
.custom-bg-1{
    background-color: #363636;
}
.custom-bg-2{
    background-color: #3a3a3a;
}
.point-to.open{
    left: 0;
}
.navbar-open .transtion-margin-left{
    margin-left: 250px;
}
.navbar-size{
    width: 250px;
    height: 100vh;
}
.toggle-btn {
    position: absolute;
    top: 15px;
    z-index: 1001;
    color: white;
    cursor: pointer;
    margin-left: 10px;
}
.open-button{
    width: 20px;
    height: 2px;
    background-color: #fff;
    margin: 5px 0;    
}
.point-to{
    left: -250px;
    top: 0;
}
.transtion-margin-left{
    transition: margin-left 0.3s;
}
.transtion-left{
    transition: left 0.3s;
}
body.no-scroll{
    overflow: hidden;
}
.dropdown {
    position: absolute;
    top: 100%;
    right: 8%;
    background-color: #444;
    list-style: none;
    padding: 0;
    margin: 0;
    display: block;
    min-width: 150px;
    z-index: 1000;
}
.navbar-item {
    position: relative;
    margin-right: 20px;
}
/*------------------Mobile--------------------*/
@media (max-width: 768px) {
    .p-1 .tx-c .gap a {
        position: unset;
    }
    .p-1 .tx-c .gap a:hover::before {
        width: 0%;
    }
    .p-1 .tx-c .gap a::before {
        text-decoration: none;
    }
}